<!DOCTYPE html>
<html>
    <head>

        <title>Introduction to Backbone</title>

        <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
        <link href="css/application.css" rel="stylesheet" type="text/css">

        <script src="js/libs/jquery.js" type="text/javascript"></script>
        <script src="js/libs/underscore.js" type="text/javascript"></script>
        <script src="js/libs/backbone.js" type="text/javascript"></script>
        <script src="js/libs/bootstrap.js" type="text/javascript"></script>

    </head>
    <body>

        <div class="container">

            <h1>Introduction to Backbone</h1>

            <ul id="slides">
            </ul>
            <script type="text/html" id="slide-template">
                <div class="view">
                    <h3><%= title %></h3>
                    <p><%= content %></p>
                </div>
                <div class="edit">
                    <p><input type="text" value="<%= title %>"></p>
                    <p><textarea><%= content %></textarea></p>
                    <button class="done btn">Done</button>
                </div>
            </script>

            <form id="add-slide" method="post" action="#">
                <p><label for="title">Title</label><input id="title" type="text" name="title" placeholder="Untitled Slide"></p>
                <p><label for="title">Content</label><textarea id="content" placeholder="Lorem ipsum ..."></textarea></p>
                <button id="save" class="btn btn-primary">Save</button>
                <button id="save" class="btn">Cancel</button>
            </form>

        </div>

        <script src="js/models.js" type="text/javascript"></script>
        <script src="js/collections.js" type="text/javascript"></script>
        <script src="js/views.js" type="text/javascript"></script>
        <script src="js/application.js" type="text/javascript"></script>

        <script type="text/javascript">

        // Create a collection of slides
        app.collections.slides = new Collections.Slides([
            { title: 'Slide One', content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' },
            { title: 'Slide Two', content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' },
            { title: 'Slide Three', content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' },
            { title: 'Slide Four', content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' }
        ]);

        app.views.slides = new Views.Slides({ el: '#slides', collection: app.collections.slides });
        app.views.slides.renderAll();

        app.views.addSlideForm = new Views.AddSlideForm({ el: '#add-slide' })

        app.views.application = new Views.Application({ el: 'body' });

        </script>

    </body>
</html>
